:root {
  --header-height: 60px;
  --left-menu-width: 250px;
  --left-menu-height: calc(100vh - var(--header-height));
  --left-menu-pro-height: 110px;
  --main-content-width: calc(100vw - var(--left-menu-width));
  --manu-list-font-size: 13px;
  --main-menu-left-padding: 20px;
  --left-menu-profile-width: var(--left-menu-width);
  --border-radius: 0.675rem;
}

/* When menu is collapsed */
body.menu__collapse {
  --left-menu-width: 70px;
  --left-menu-pro-height: 60px;
  /* smaller collapsed width */
  --main-content-width: calc(100vw - var(--left-menu-width));
  transition: width 0.8s ease-in-out;
}


// ✅ Light Theme
.light {
  --color-bg: #f8f9fa;
  --color-text: #212529;
  --color-header-bg: #ffffff;
  --color-header-text: #212529;
  --color-sidebar-bg: #ffffff;
  --color-sidebar-text: #495057;
  --color-border: #d4d4d4;
  --color-primary: #0d6efd;
  --color-active-menu: #00d8ff;
}

// ✅ Dark Theme
.dark {
  --color-bg: #121212;
  --color-text: #f1f3f5;
  --color-header-bg: #1f1f1f;
  --color-header-text: #f8f9fa;
  --color-sidebar-bg: #1a1a1a;
  --color-sidebar-text: #ced4da;
  --color-border: #2c2c2c;
  --color-primary: #4dabf7;
  --color-active-menu: #00d8ff;
}