body {
  margin: 0;
  display: block;
  min-width: auto;
  min-height: 100vh;
  place-items: normal;
}

.cursor-pointer {
  cursor: pointer !important;
}

.border-bottom {
  border-bottom: 1px solid var(--color-border);
}

body.menu__collapse .navigation__ico::after {
  transform: translateY(-50%) rotate(0deg) !important;
}

body.menu__collapse .profile_info {
  justify-content: center;

  .profile_text {
    display: none !important;
  }
}

body.menu__collapse .body__left {
  .pro-sec {
    display: none !important;
  }

  .min-pro-sec {
    display: flex !important;
  }

  .__main-menu {
    padding: 10px;
    justify-content: center;
  }

  .menu-txt {
    display: none;
  }
}

.pro__layout {

  .body__header {
    height: var(--header-height);
    background-color: var(--color-header-bg);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px;
    z-index: 1;

    .profile__section {
      width: var(--left-menu-width);

      .navigation__ico {
        position: absolute;
        right: 0;
        top: 50%;
        cursor: pointer;
        z-index: 1;

        &::after {
          content: "➔"; // arrow icon (can be → ➤ ▶ or custom)
          position: absolute;
          right: -0.9rem; // position on the right
          top: 50%;
          transform: translateY(-50%) rotate(180deg);
          font-size: 0.9rem;
          color: #383535;

          border-radius: 50%;
          border: 1px solid #383535;
          width: 1.5rem;
          height: 1.5rem;
          display: flex;
          align-items: center;
          justify-content: center;

          transition: transform 0.3s ease-in-out;
        }
      }

      .profile_info {
        margin: 10px;
        padding: 5px 10px;

        img {
          width: 32px;
          height: 32px;
        }
      }
    }

    .header__menu-bar {
      width: calc(100% - var(--left-menu-width));
    }
  }

  .user-profile-sec {
    width: var(--left-menu-profile-width);
    padding: 10px;

    .pro-media {

      img {
        height: 40px;
        width: 40px;
      }

      .pro-body {
        h6 {
          margin-bottom: 0;
        }

        .sub-txt {
          font-size: 11px;
          font-style: italic;
          opacity: 0.4;
        }
      }

    }

    .pro-footer {
      display: flex;
      justify-content: space-between;
      padding: 10px 0 5px;
    }
  }

  .main__content {
    position: relative;
    display: block;
    margin-top: var(--header-height);

    .body__left {
      position: fixed;
      padding-top: 10px;
      color: var(--color-sidebar-text) !important;
      width: var(--left-menu-width);
      height: var(--left-menu-height);
      background-color: var(--color-sidebar-bg);
      box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px;

      .min-pro-sec {
        display: none;
        padding: 10px;
        justify-content: center;
        align-items: center;
        position: relative;
        .pro-dialog{
          position: absolute;
          background: #ffffff;
        }
      }

      .menu-section {
        font-size: var(--manu-list-font-size) !important;

        .menu-item {

          .__main-menu {
            display: flex;
            padding: 10px;
            cursor: pointer;
            padding-left: var(--main-menu-left-padding);

            .menu-ico {
              width: 20px;
              height: 20px;
              display: flex;
              justify-content: center;
              align-content: center;
              flex-wrap: wrap;
            }

            .menu-txt {
              margin-left: 10px;
              width: 100%;
            }
          }

          .__sub_menus {
            display: none;
            margin-left: 30px;
            border-left: 1px solid #d4d4d4;

            &.expand {
              display: block;
            }

            span {
              display: block;
              width: 100%;
              position: relative;
              padding-left: 25px;
              padding-top: 5px;
              padding-bottom: 5px;
              cursor: pointer;

              &.active {
                font-weight: 600;

                &::after {
                  content: "";
                  background: var(--color-active-menu);
                  width: 10px;
                  height: 10px;
                  display: block;
                  border: 1px solid var(--color-active-menu);
                  border-radius: 50%;
                  position: absolute;
                  right: 10px;
                  top: 50%;
                  transform: translateY(-50%);
                }
              }

              &::before {
                content: " ";
                background: #fff;
                width: 10px;
                height: 10px;
                display: block;
                border: 1px solid #d4d4d4;
                border-radius: 50%;
                position: absolute;
                left: -5px;
                top: 50%;
                transform: translateY(-50%);
              }
            }
          }

          &.active {
            .__main-menu {
              border-left: 3px solid var(--color-active-menu);
              font-weight: 600;
              padding-left: calc(var(--main-menu-left-padding) - 3px);
            }
          }
        }
      }
    }

    .main__body {
      position: relative;
      width: calc(100vw - var(--left-menu-width));
      margin-left: var(--left-menu-width);
      height: 100%;
      padding: 20px;
    }
  }
}